<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Available Items
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="item-index-grid pt4">
  <% @items.each do |item| %>

    <div class="item border-light">
      <div class="item-thumb">
      <%= link_to image_tag(item.image_url(:thumb)), item %>

      <% if item.condition? %>
        <div class="condition">
          <span class="tag is-success is-rounded"><%= item.condition %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to item.title, item %></h3>



      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(item.price) %></p>

      <p class="f3 fw6 has-text-left pt2 edit-delete-btn">
        <% if item_author(item) %>
           <%= link_to 'Edit', edit_item_path(item), class: "button is-small is-dark is-rounded" %>
           <%= link_to 'X', item, method: :delete, data: { confirm: "Confirm Delete" }, class: "button is-small is-danger is-rounded" %>
        <% end %>
      </p>

    </div>
  </div>
  <% end %>
</div>
