<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        See EcommShop's Latest Items
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="item-index-grid pt4">
  <% @items.each do |item| %>

    <div class="item border-light">
      <div class="item-thumb">
      <%= link_to image_tag(item.image_url(:thumb)), item %>

      <% if item.condition? %>
        <div class="condition">
          <span class="tag is-dark"><%= item.condition %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to item.title, item %></h3>

      <p class="has-text-gray fg pt1">Seller: <%= item.user.name %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(item.price) %></p>

      <% if item_author(item) %>
         <%= link_to 'Edit', edit_item_path(item), class: "button is-small" %>
         <%= link_to 'Delete', item, method: :delete, data: { confirm: "Are You Sure?" }, class: "button is-small" %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>
